et_xmlfile==2.0.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lxml==5.3.0
numpy==2.2.2
pandas==2.2.3
streamlit==1.42.0
streamlit-option-menu==0.4.0
watchdog==6.0.0
XlsxWriter==3.2.2
xmltodict==0.14.2
pyinstaller==6.3.0
